@keyframes changeShape{
    from{
        border-radius: 0%;
        /* background-color:red; */
    }
    25%{
        border-radius: 25%;
        /* background-color:greenyellow; */
    }
    to{
        border-radius: 50%;
        /* background-color: brown; */
    }
}
div{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 40%;
    left: 40%;
    bottom: 40%;
    background-color: aqua;
    animation:changeShape 1s ease-in-out 6 alternate;

}

