.cube{
    height: 200px;
    width: 200px;
    position: relative;
    margin: 100px;
    transform-style: preserve-3d;
    perspective: 10000px;  
    transform: rotateX(25deg) rotateY(-25deg);
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}
@keyframes rotate {
    0% {
      transform: rotate3d(0, 0, 0, 0deg);
    }
    100% {
      transform: rotate3d(1, 1, 1, 360deg);
      }
   }


.side{
    height: 100px;
    width: 100px;
    position: absolute;
    top:20%;
    left:20%;
    transition: all 1s;  
}


.front{
    background-color: lawngreen;
}



.back{
    background-color:royalblue ;
    transform: rotateY(360deg) translateZ(-100px) translateX(0px);
    
}

/* .back:hover{
    transform: rotateX(10deg) rotateY(10deg) rotateZ(10deg);
}
} */
.left{
    background-color:goldenrod ;
    transform: rotateY(270deg) translateZ(50px) translateX(-50px);
}

.right{
    background-color:rgb(238, 17, 17) ;
    transform: rotateY(-270deg) translateZ(50px) translateX(50px);
}

.top{
    background-color:tomato ;
    transform: rotateX(90deg) translateZ(50px) translateY(-50px);
}

.bottom{
    background-color:darkorchid ;
    transform: rotateX(-90deg) translateZ(50px) translateY(50px);
}




